﻿@model Gooroo_Library.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        @if (Model.IsAvailable)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>
        }

        @if (Model.BorrowingDate.Year != 1)
        {
            <dt>
                @Html.DisplayNameFor(model => model.BorrowerId)
            </dt>

            <dd>
                @ViewBag.BorrowerName
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsOverdue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsOverdue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BorrowingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BorrowingDate)
            </dd>
        }
    </dl>
</div>
<br />
<div>
    <a href="~/Books/Index" class="btn btn-primary">
        <span class="glyphicon glyphicon-backward"></span> &nbsp; <span class="button-text2">Back to books</span>
    </a>
</div>
