﻿@model IEnumerable<Gooroo_Library.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<div ng-app="booksApp" ng-controller="booksCtrl as ctrl">
    <p>
        <a ng-href="" ng-click="newBook()" class="btn btn-primary">
            <span class="glyphicon glyphicon-book"></span> &nbsp; <span class="button-text2">Add new book</span>
        </a>
        <span class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> &nbsp; <input type="text" ng-model="search">
        </span>
    </p>
    <br />
    <div ng-repeat="(prop, ignored) in ctrl.books[0]" ng-if="prop == 'IsOverdue'" ng-init="ctrl.filter[prop] = {}">
        <div class="quarter" ng-repeat="value in ctrl.getValuesFor(prop)">
            <h4 ng-if="value == true">
                <span>Is Overdue</span>
                <input type="checkbox" ng-model="ctrl.filter[prop][value]" ng-change="propSelected()" />
            </h4>
        </div>
    </div>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOverdue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingDate)
            </th>
            <th></th>
        </tr>

        <tr data-ng-repeat="book in ctrl.dynamicBooks | filter: search">
            <td>
                {{ book.Name }}
            </td>
            <td>
                {{ book.Author }}
            </td>
            <td>
                <span ng-if="book.IsAvailable" class="glyphicon glyphicon-ok"></span>
            </td>
            <td>
                <span ng-if="book.IsOverdue" class="glyphicon glyphicon-ok"></span>
            </td>
            <td>
                <p ng-bind="book.BorrowingDate | dateFilter | date: 'yyyy/MM/dd'"></p>
            </td>
            <td>
                <a ng-href="~/Books/Details?id={{ book.Id }}" class="btn btn-info" title="Details">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a ng-if="book.IsAvailable" ng-href="" ng-click="borrowBook(book.Id)" class="btn btn-primary" title="Borrow">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </a>
            </td>
        </tr>
    </table>
</div>

<script>
    angular.
        module('booksApp', []).
        controller('booksCtrl', BooksCtrl).
        filter('dateFilter', dateFilter).
        config(['$httpProvider', function ($httpProvider) { // Sends AntiForgeryToken on the httpProvider header to allow Angular HTTP POST requests to be secure
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $httpProvider.defaults.headers.post['__RequestVerificationToken'] = token;
        }]);

    function dateFilter() { // Filters date format using regex
        var re = /\/Date\(([0-9]*)\)\//;
        return function (x) {
            var m = x.match(re);
            if (m) return new Date(parseInt(m[1]));
            else return null;
        };
    }

    function BooksCtrl($scope, $http, $filter) {
        // Private variables
        var self = this;
        var model = @Html.Raw(Json.Encode(Model));

        // Public variables
        self.filter = {};
        self.books = [];
        self.dynamicBooks = [];

        // Functions
        self.getValuesFor = getValuesFor;

        angular.forEach(model, function (value, key) {
            self.books.push(value);
        });

        self.dynamicBooks = self.books;

        function filterByProperties(book) {
            var activeFilterProps = Object.
                keys(self.filter).filter(function (prop) {
                    return !noFilter(self.filter[prop]);
                });
        }

        function getValuesFor(prop) {
            return (self.books || []).
                map(function (book) { return book[prop]; }).
                filter(function (value, idx, arr) { return arr.indexOf(value) === idx; });
        }

        function noFilter(filterObj) {
            return Object.
                keys(filterObj).
                every(function (key) { return !filterObj[key]; });
        }

        $scope.propSelected = function () {
            var value = this.value;
            var prop = this.$parent.prop;

            if (self.filter[prop][value]) {
                self.dynamicBooks = $filter('filter')(self.books, { IsOverdue: true });
            } else {
                self.dynamicBooks = self.books;
            }
        }

        $scope.newBook = function () {
            swal({
                title: 'Add new book!',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Add book',
                allowOutsideClick: false,
                html:
                '<h4>Please provide the next information</h4>' +
                '<input id="swal-name" placeholder="Book name" type="numbers" class="swal2-input">' +
                '<input id="swal-author" placeholder="Book author" type="text" class="swal2-input">',
                preConfirm: function () {
                    return new Promise(function (resolve, reject) {
                        var name = $('#swal-name').val();
                        var author = $('#swal-author').val();

                        if (name != '' && author != '') {
                            resolve([
                                name,
                                author
                            ])
                        } else {
                            reject('Please fill in all the fields!');
                        }
                    })
                },
                onOpen: function () {
                    $('#swal-name').focus()
                }
            }).then(function (result) {
                var data = {
                    name: result[0],
                    author: result[1]
                };

                $http.post("/Books/Create/", data).
                    then(function successCallback(result) {
                        swal({
                            title: 'Book added!',
                            text: result.data.info,
                            type: 'success',
                        }).then(function () {
                            location.href = result.data.url;
                        });
                    }, function errorCallback(result) {
                        swal(
                            'Error!',
                            result.data,
                            'error'
                        )
                    });
            });
        }

        $scope.borrowBook = function (id) {
            var options = {};
            var borrowers = @Html.Raw(Json.Encode(ViewBag.BorrowerId));

            $.map(borrowers, function (o) {
                options[o.Id] = o.FullName;
            });

            swal({
                title: 'Borrow book!',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Borrow',
                allowOutsideClick: false,
                input: 'select',
                inputOptions: options,
                inputPlaceholder: 'Please select a borrower',
                html:
                '<h4>Please provide the next information</h4>' +
                '<input id="swal-borrowingDate" name="BorrowingDate" class="swal2-input" type="date" min="2015-01-01" max="2020-12-31" required >',
                preConfirm: function (sw) {
                    return new Promise(function (resolve, reject) {
                        var borrower = $('.select').val();
                        var dateNoFormat = $('#swal-borrowingDate').val();
                        var date = new Date($('#swal-borrowingDate').val()).setHours(0, 0, 0, 0);
                        var now = new Date().setHours(0, 0, 0, 0);

                        if (borrower != null && date != '') {
                            if (date <= now) {
                                resolve([
                                    dateNoFormat,
                                    borrower
                                ])
                            } else {
                                reject('You can not set a date in the future!');
                            }
                            
                        } else {
                            reject('Please fill in all the fields!');
                        }
                    })
                },
                onOpen: function (sw) {
                    $('#swal-borrowingDate').focus();
                    $(sw).find('.swal2-select').addClass('swal2-input');
                    $(sw).find('.swal2-select').addClass('select');
                    $(sw).find('.swal2-select').removeClass('swal2-select');
                },
                onClose: function (sw) {
                    $(sw).find('.select').addClass('swal2-select');
                    $(sw).find('.select').removeClass('swal2-input');
                }
            }).then(function (result) {
                var data = {
                    bookId: id,
                    borrowingDate: result[0],
                    borrowerId: result[1]
                };

                $http.post("/Books/BorrowBook/", data)
                    .then(function successCallback(result) {
                        swal({
                            title: 'Book borrowed!',
                            text: result.data.info,
                            type: 'success',
                        }).then(function () {
                            location.href = result.data.url;
                        });
                    }, function errorCallback(result) {
                        swal(
                            'Error!',
                            result.data,
                            'error'
                        )
                    });
            });
        }
    }
</script>