﻿@model IEnumerable<Gooroo_Library.Models.Borrower>

@{
    ViewBag.Title = "Borrowers";
}

<h2>Borrowers</h2>

<p>
    
</p>

<div ng-app="borrowersApp" ng-controller="borrowersCtrl as ctrl">
    <p>
        <a ng-href="" ng-click="newBorrower()" class="btn btn-primary">
            <span class="glyphicon glyphicon-user"></span> &nbsp; <span class="button-text2">Add new borrower</span>
        </a>
        <span class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> &nbsp; <input type="text" ng-model="search">
        </span>
    </p>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>

        <tr data-ng-repeat="borrower in ctrl.borrowers | filter: search">
            <td>
                {{ borrower.FirstName }}
            </td>
            <td>
                {{ borrower.LastName }}
            </td>
        </tr>
    </table>
</div>

<script>
    angular.
        module('borrowersApp', []).
        controller('borrowersCtrl', BorrowersCtrl).
        config(['$httpProvider', function ($httpProvider) { // Sends AntiForgeryToken on the httpProvider header to allow Angular HTTP POST requests to be secure
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $httpProvider.defaults.headers.post['__RequestVerificationToken'] = token;
        }]);

    function BorrowersCtrl($scope, $http) {
        var self = this;
        var model = @Html.Raw(Json.Encode(Model));

        self.borrowers = [];

        angular.forEach(model, function (value, key) {
            self.borrowers.push(value);
        });

        $scope.newBorrower = function () {
            swal({
                title: 'Add new borrower!',
                type: 'question',
                showCancelButton: true,
                cancelButtonColor: '#d33',
                confirmButtonText: 'Add borrower',
                allowOutsideClick: false,
                html:
                '<h4>Please provide the next information</h4>' +
                '<input id="swal-firstname" placeholder="FirstName" type="numbers" class="swal2-input">' +
                '<input id="swal-lastname" placeholder="LastName" type="text" class="swal2-input">',
                preConfirm: function () {
                    return new Promise(function (resolve, reject) {
                        var firstName = $('#swal-firstname').val();
                        var lastName = $('#swal-lastname').val();

                        if (firstName != '' && lastName != '') {
                            resolve([
                                firstName,
                                lastName
                            ])
                        } else {
                            reject('Please fill in all the fields!');
                        }
                        
                    })
                },
                onOpen: function () {
                    $('#swal-firstname').focus()
                }
            }).then(function (result) {
                var data = {
                    firstName: result[0],
                    lastName: result[1]
                };

                $http.post("/Borrowers/Create/", data)
                    .then(function successCallback(result) {
                        swal({
                            title: 'Borrower added!',
                            text: result.data.info,
                            type: 'success',
                        }).then(function () {
                            location.href = result.data.url;
                        });
                    }, function errorCallback(result) {
                        swal(
                            'Error!',
                            result.data,
                            'error'
                        )
                    });
            });
        }
    }
</script>