﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Gooroo - Library</h1>
    <p class="lead">Welcome to the Gooroo - Library system. Please click on one of the links bellow.</p>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <h2>Borrowers</h2>
        <p>Here you can manage borrowers.</p>
        <p>
            <a href="~/Borrowers/Index" class="btn btn-default">
                <span style="font-size: 85px;" class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
    <div class="col-md-6 text-center">
        <h2>Books</h2>
        <p>Here you can manage books and borrowing.</p>
        <p>
            <a href="~/Books/Index" class="btn btn-default">
                <span style="font-size: 85px;" class="glyphicon glyphicon-book"></span>
            </a>
        </p>
    </div>
</div>